:root {
  --SLATE: #434455;
  --LIGHT-SLATE: #8e8f99;
  --WHITE: #fff;
  --NAVY-BLUE: #2e2f42;
  --NAVY-BLUE-MODAL: #2e2f4266;
  --OCEAN: #404bbf;
  --IRIS: #4d5ae5;
  --CLOUD: #f4f4fd;
  --CORNFLOWER: #e7e9fc;
  --GREEN: #31d0aa;
  --GREY: #2e2f42b3;
  --DAIRY: #fcfcfc;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  font-style: normal;
  line-height: 24px;
  letter-spacing: 2%;
  color: var(--SLATE);
  background: var(--WHITE);
}
ul,
ol {
  list-style-type: none;
}
.nav-item {
  color: var(--NAVY-BLUE);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.nav-item:hover,
.nav-item:focus,
.nav-item:active {
  color: var(--OCEAN);
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 800;
  color: var(--IRIS);
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.studio-part {
  color: var(--NAVY-BLUE);
}
.studio-part-footer {
  color: var(--CLOUD);
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
.contacts {
  font-style: normal;
  color: var(--NAVY-BLUE);
  letter-spacing: 0.32px;
  text-decoration: none;
  font-style: normal;
}
.contacts:hover,
.contacts:focus {
  color: var(--OCEAN);
}
.hero-section-container {
  background-color: var(--NAVY-BLUE);
}
.tagline {
  color: var(--WHITE);
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
}
.order-button {
  color: var(--WHITE);
  background-color: var(--IRIS);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border-style: none;
  cursor: pointer;
}
.order-button:hover,
.order-button:focus {
  background: var(--OCEAN);
}
.hidden-title {
  visibility: hidden;
}
.benefit-title {
  color: var(--NAVY-BLUE);
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.4px;
}
.benefit-text {
  color: var(--SLATE);
  letter-spacing: 0.32px;
}
.about-team-section {
  background-color: var(--CLOUD);
}
.section-title {
  color: var(--NAVY-BLUE);
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-align: center;
  text-transform: capitalize;
}
.employee-card {
  background-color: var(--WHITE);
}
.employee-name {
  color: var(--NAVY-BLUE);
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.4px;
}
.employee-speciality {
  color: var(--SLATE);
  text-align: center;
  letter-spacing: 0.32px;
}
.footer {
  background-color: var(--NAVY-BLUE)
}
.call-to-action {
  color: var(--CLOUD);
  letter-spacing: 0.32px;
}

/* Portfolio styles part */

.button-all {
  color: var(--WHITE);
  text-align: center;
  font-weight: 500;
  letter-spacing: 0.64px;
  border-style: none;
  background: var(--OCEAN);
}
.button-web-site,
.button-app,
.button-design,
.button-marketing {
  color: var(--IRIS);
  font-weight: 500;
  letter-spacing: 0.64px;
  text-align: center;
  border: 1px solid var(--CORNFLOWER);
  background: var(--CLOUD);
  justify-content: center;
}
.gallery-card-name {
  color: var(--NAVY-BLUE);
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.4px;
}
.gallery-card-desription {
  letter-spacing: 0.32px;
}
